<!DOCTYPE html>
<html>
  <%- include partials/head %>
  <body>
    <section>
      <%- include partials/nav %>
    </section>
    <% if(message) {%>
    <script>
      $('#navSuccessMessage').html('<%= message %>');
      $('#navSuccess').show();
    </script>
    <% } %>
    <section class="section">
      <div class="table-container">
        <table id="table1" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>
                Filename
              </th>
              <th>Date Uploaded</th>
              <th>
                Hash
              </th>
              <th>
                Download
              </th>
              <th>
                Delete
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </section>

    <form action="/download" method="POST" name="fileDownload" id="fileDownload">
      <input type="text" name="fileContentHash" id="fileContentHash" hidden />
      <input type="text" name="msg" id="msg" hidden />
      <input type="text" name="signature" id="signature" hidden />
      <input type="text" name="publicKey" id="publicKey" hidden />
    </form>

    <form action="/delete" method="POST" name="fileDelete" id="fileDelete">
      <input type="text" name="fileContentHash" id="fileContentHash" hidden />
      <input type="text" name="msg" id="msg" hidden />
      <input type="text" name="signature" id="signature" hidden />
      <input type="text" name="publicKey" id="publicKey" hidden />
    </form>
  </body>

  <script>
    var ed25519 = forge.pki.ed25519;
    keypair = {
      publicKey: sessionStorage.pubkey,
      privateKey: sessionStorage.privkey,
    };

    if (!keypair.privateKey && !keypair.publicKey) {
      $('#navFailureMessage').html('Please upload/generate keys to view list');
      $('#navFailure').show();
    } else {
      keypair.publicKey = new Uint8Array(keypair.publicKey.split(','));
      keypair.privateKey = new Uint8Array(keypair.privateKey.split(','));
      signature = ed25519.sign({
        message: 'test',
        encoding: 'utf8',
        privateKey: keypair.privateKey,
      });
    }
  </script>
  <script>
    $(document).ready(function () {
      if (keypair.publicKey && keypair.privateKey) {
        $.ajax({
          type: 'GET',
          url: '/listFiles',
          headers: {
            msg: 'test',
            signature: signature,
            publickey: keypair.publicKey,
          },
          contentType: 'application/json;charset=utf-8',
          success: function (response) {
            console.log(response);
            var table = document.getElementById('table1');
            response.map.forEach(function (element, index) {
              var tr = document.createElement('tr');
              var td1 = document.createElement('td');
              td1.innerHTML = element.metaData.filename;
              var td2 = document.createElement('td');
              td2.innerHTML = element.metaData.dateUploaded;
              var td3 = document.createElement('td');
              td3.innerHTML = element.fileContentHash;
              var td4 = document.createElement('td');
              var button = document.createElement('button');
              button.setAttribute('onclick', "downloadFile('" + element.fileContentHash + "')");
              button.setAttribute('class', 'button is-info');
              button.innerHTML = 'Download';
              td4.appendChild(button);
              var td5 = document.createElement('td');
              var button = document.createElement('button');
              button.setAttribute('onclick', "deleteFile('" + element.fileContentHash + "')");
              button.setAttribute('class', 'button is-danger');
              button.innerHTML = 'Delete';
              td5.appendChild(button);
              tr.appendChild(td1);
              tr.appendChild(td2);
              tr.appendChild(td3);
              tr.appendChild(td4);
              tr.appendChild(td5);
              table.appendChild(tr);
            });
          },
          error: function (response) {
            console.log(response);
          },
        });
      }
    });
  </script>
  <script>
    function updateFormContents(formId, fileContentHash) {
      $('#' + formId + ' input[name="fileContentHash"]').val(fileContentHash);
      $('#' + formId + ' input[name="msg"]').val('test');
      $('#' + formId + ' input[name="signature"]').val(signature.toString());
      $('#' + formId + ' input[name="publicKey"]').val(keypair.publicKey.toString());
    }

    function downloadFile(fileContentHash) {
      updateFormContents('fileDownload', fileContentHash);
      document.forms['fileDownload'].submit();
    }
    function deleteFile(fileContentHash) {
      updateFormContents('fileDelete', fileContentHash);
      document.forms['fileDelete'].submit();
    }
  </script>
</html>
