<!DOCTYPE html>
<html>
  <%- include partials/head %>
  <body>
    <section>
      <%- include partials/nav %>
    </section>
    <section class="section">
      <div class="table-container">
        <table id="table1" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>
                Filename
              </th>
              <th>Date Uploaded</th>
              <th>
                Hash
              </th>
              <th>
                Download
              </th>
              <th>
                Delete
              </th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </section>

    <form action="/download" method="POST" name="fileDownload" id="fileDownload">
      <input type="text" name="fileContentHash" id="fileContentHash" hidden />
      <input type="text" name="msg" id="msg" hidden />
      <input type="text" name="signature" id="signature" hidden />
      <input type="text" name="publicKey" id="publicKey" hidden />
    </form>

    <form action="/delete" method="POST" name="fileDelete" id="fileDelete">
      <input type="text" name="fileContentHash" id="fileContentHash" hidden />
      <input type="text" name="msg" id="msg" hidden />
      <input type="text" name="signature" id="signature" hidden />
      <input type="text" name="publicKey" id="publicKey" hidden />
    </form>
    <script src="js/dist/list.bundle.js"></script>
  </body>
</html>
