<nav class="navbar hero is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a id="home" class="navbar-item" href="/">Home</a>
    <a class="navbar-item" href="/list">Files</a>
    <a id="logout" class="navbar-item">Logout</a>
  </div>
</nav>
<div id="navMessage">
  <article class="message is-success" id="navSuccess">
    <div class="message-body">
      <p id="navSuccessMessage"></p>
    </div>
  </article>
  <article class="message is-danger" id="navFailure">
    <div class="message-body">
      <p id="navFailureMessage"></p>
    </div>
  </article>
</div>
<div id="keyManagementDiv">
  <br />
  <div class="columns">
    <div class="column is-one-fifth">
      <section class="section">
        <button class="button is-dark is-rounded" id="generateKeyValuePairButton">
          Generate key-value pair
        </button>
      </section>
    </div>
    <div class="column is-one-fifth">
      <section class="section">
        <p class="title is-2">Or</p>
      </section>
    </div>
    <section class="section">
      <div id="UploadDiv" class="column tile is-one-fifth">
        <div id="UploadPubKeyDiv">
          <div class="field">
            <div class="control">
              <label class="label">Upload public key</label>
            </div>
            <div class="control">
              <div id="publicKeyUploadDiv" class="file has-name">
                <label class="file-label">
                  <input
                    class="file-input"
                    type="file"
                    name="publicKeyUpload"
                    id="publicKeyUpload"
                    required
                  />
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>
                  <span class="file-name">
                    File not uploaded
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div id="UploadPrivKeyDiv">
          <div class="field">
            <div class="control">
              <label class="label">Upload private key</label>
            </div>
            <div class="control">
              <div id="privateKeyUploadDiv" class="file has-name">
                <label class="file-label">
                  <input
                    class="file-input"
                    type="file"
                    name="privateKeyUpload"
                    id="privateKeyUpload"
                    required
                  />
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>
                  <span class="file-name">
                    File not uploaded
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<script src="js/dist/nav.bundle.js"></script>
