<nav class="navbar is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a id="home" class="navbar-item" href="/">Home</a>
    <a class="navbar-item" href="/list">Files</a>
    <a id="login" class="navbar-item">Login</a>
    <a id="logout" class="navbar-item">Logout</a>
  </div>
</nav>
<% if(success && message != "") { %>
<article class="message is-success">
  <div class="message-body">
    <p><%= message %></p>
  </div>
</article>
<% } else if(message != ""){ %>
<article class="message is-danger">
  <div class="message-body">
    <p><%= message %></p>
  </div>
</article>
<% } %>
<div id="navMessage">
  <article class="message is-success" id="navSuccess">
    <div class="message-body">
      <p id="navSuccessMessage"></p>
    </div>
  </article>
  <article class="message is-danger" id="navFailure">
    <div class="message-body">
      <p id="navFailureMessage"></p>
    </div>
  </article>
</div>
<div id="keyManagementDiv" class="hero is-dark">
  <div class="columns is-centered is-multiline has-text-centered">
    <div class="column is-narrow">
      <section class="section">
        <button class="button is-black is-rounded is-large" id="generateKeyValuePairButton">
          Generate Security Keys
        </button>
      </section>
    </div>
    <div class="column is-narrow">
      <section class="section">
        <p class="title is-2">Or</p>
      </section>
    </div>
    <div class="column is-narrow">
      <section class="section">
        <div class="field">
          <label class="label has-text-white">Upload security key</label>
          <div class="control">
            <div id="KeyUploadDiv" class="file is-boxed is-black">
              <label class="file-label">
                <input class="file-input" type="file" name="keyUpload" id="keyUpload" required />
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choose a file…
                  </span>
                </span>
              </label>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<script src="js/dist/nav.bundle.js"></script>
